<!DOCTYPE html>
<html>
  <head>
    <% if current_user %>>
      <title>Expense Tracker</title>
    <% else %>
      <title>Sign In</title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p id="alert"><%= flash[:alert] %></p>

      <%= yield %>
    </div>
  </body>
</html>
